*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 10px;
    font-size: 20pt;
}

.navigation-left a:link,
.navigation-left a:visited {
    display: block;
    padding: 5px;
    color: #16a0d7;
    text-decoration: none;
}

.navigation-left a:hover,
.navigation-left a:active {
    color: #0b7ca9;
    text-decoration: underline;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.nav-container {
    counter-reset: members;
}

.nav-container a {
    position: relative;
    left: 3rem;
}

.nav-container a span {
    color: #d76e16;
    text-transform: uppercase;
}

.nav-container a::before {
    display: block;
    position: absolute;
    counter-increment: members;
    content: counter(members);
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
}